@font-face {
    font-family: Cousine-Regular;
    src: url(assets/fonts/Cousine-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    background-image: url(assets/images/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family: 'Cousine-Regular', sans-serif;
}

header,
h4,
p {
    color:aliceblue;
}

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}