@font-face {
    font-family: Cousine-Regular;
    src: url(assets/fonts/Cousine-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Общие стили */
html {
    background-image: url(assets/images/background.png);/*фоновое изображения для страницы*/
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
}
/*Настройка горизонтального центрирования на странице*/
.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Cousine-Regular', sans-serif;
    color:aliceblue;
}

h2 {
    font-size: 30px;
    margin-top: 50px;
}

p {
    font-size: 20px;
}

ul {    
    padding-left: 0;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

li p {
    margin: 0;
}

a:hover {
    color: grey;
}

/* Шапка */
header h1 {
    font-size: 100px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.round-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

/* Навигация */
.nav-link {
    padding-top: 20px;
}

.nav-link a {
    text-decoration: none;
    padding-right: 10px;
    color: aliceblue;
}

.nav-link li {
    display: inline-block;
}

/* Иконки */
.icon {/*Размер иконок для десктопа*/
    width: 28px;
    height: 28px;
    transition: all 0.3s ease;
}

.rs-logo {
    width: 150px;
    height: auto;
}
/* Для блока скиллы и опыт работы */
.container {
    display: flex;
    gap: 10px;
}

.column {
    flex: 1;
}

.content p {
    margin-bottom: 50px;
}

.custom-list {
    list-style-type: none;
}

.custom-list li::before {
    content: "\2705";
}

.flower-list {
    list-style-type: none;
}

.flower-list li::before {
    content: "\1F338";
}

/* Блок образование */
.education {
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 10px;
}

/* Подвал */
.bottom-column {
    flex: 0 0 calc(33.3% - 10px);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 10px;
}
/* Блок с примером кода */
pre {
    background-color: black;
    padding: 20px;
    padding-left: 0;
    border-radius: 20px;
    overflow-x: auto;
    font-family: 'Cousine-Regular', monospace;
    font-size: 18px;
    box-sizing: border-box;
}

code {
    color: aliceblue;
}

/* Мобильная версия */
/*Размер иконок для мобильных устройств*/
@media (max-width: 768px) {
    header h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .wrapper {
        padding: 0 20px;
        box-sizing: border-box;
    }

    .icon {
        width: 22px;
        height: 22px;
    }

    .topbar h1{
        width: 60%;
    }

    .round-image {
        width: 40%;
        height: auto;
        padding: 0 15px;
    }

    .container {
        flex-direction: column;
        gap: 10px;
    }
}